
body {
  color: #bbbbbb;
  background-color: #3c3f41;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2{
  color: #ef6a29;
}

article, section{
  color: #a9b7ec;
  font-size: 10pt;
}

a{
  color: #e8bf6a;
}

h1{
  color: #e8bf6a;
  font-size: 20pt;
}

input{
  background-color: #3c3f41;
  color: #0f9d58;
  border: none;
}

span{
  color: #0f9d58;
}


label{
  color: #ef6a29;
  padding-right: 4px;
}

body {
  display: flex;
  flex-direction: column;
}

main.header {
  flex: 0 0 100%; /* Let it fill the entire space horizontally */
  height: 100px;
}

.contentContainer { display: flex; flex: 1; }
main { flex: 3; }
aside { flex: 2; width: 120px; min-width: 120px; max-width: 120px; }
